fastapi
uvicorn
requests
python-dotenv
opencv-python
pillow
easyocr
openai-whisper
torch
transformers
openai
python-multipart
google-cloud-vision
sumy
moviepy
google_auth_oauthlib
google-api-python-client
pymongo
apscheduler
groq
langchain-core
langchain-mistralai
langchain-community
faiss-cpu
cryptography
reportlab
