fastapi
uvicorn
requests
python-dotenv
opencv-python
pillow
easyocr
openai-whisper
torch
transformers
openai
python-multipart
google-cloud-vision
sumy
moviepy
pymongo==4.8.0
certifi>=2024.7.4
dnspython==2.6.1
google_auth_oauthlib
google-api-python-client
apscheduler
groq
streamlit
SpeechRecognition
langchain-core
langchain-mistralai
langchain-community
faiss-cpu
cryptography
reportlab
dateparser
