fastapi
uvicorn
requests
python-dotenv
opencv-python
pillow
easyocr
openai-whisper
torch
transformers
openai
python-multipart
google-cloud-vision
sumy
load_dotenv
moviepy
google_auth_oauthlib
google-api-python-client